.combined-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 7rem;
    gap: 4rem;
    min-height: 100vh;
    box-sizing: border-box;
}

.pricing-section {
    text-align: center;
    width: 100%;
}

.pricing-section h2 {
    font-size: 2.5rem;
    color: #4a4a8a;
    margin-bottom: 2rem;
}

.pricing-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: calc(100% - 14rem);
    margin: 0 auto;
}

.pricing-card {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.pricing-card h3 {
    color: #4a4a8a;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.pricing-card p {
    font-size: 2rem;
    color: #333;
    margin: 1rem 0;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    color: #555;
}

.pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #f4eaff;
}

.pricing-card:hover h3,
.pricing-card:hover p,
.pricing-card:hover ul {
    color: #000;
}

/* DEPOIMENTOS */
.testimonials-section {
    text-align: center;
    width: 100%;
    margin-top: 7rem;
}

.testimonials-section h2 {
    font-size: 2.5rem;
    color: #4a4a8a;
    margin-bottom: 2rem;
}

.testimonials-carousel-container {
    overflow: hidden;
    width: 100%;
    max-width: calc(100%);
}

.testimonials-carousel {
    display: flex;
    gap: 2rem;
    animation: scrollTestimonials 30s linear infinite;
    width: 200%;
}

.testimonial-item {
    flex: 0 0 25%;
    background-color: #e7e3f5;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #4a4a8a;
}

.testimonial-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.testimonial-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-item h4 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #4a4a8a;
    text-align: center;
    margin-top: 0.5rem;
}

.testimonial-item p {
    font-size: 1rem;
    color: #555;
    font-style: italic;
    line-height: 1.4;
    text-align: center;
}

/* ROLAGEM */
@keyframes scrollTestimonials {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .pricing-container, .testimonials-carousel {
        flex-direction: column;
        width: 100%;
        animation: none;
    }
    .testimonial-item, .pricing-card {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

