#sobre {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #e7e3f5, #d4cfe9);
    color: #333;
    text-align: center;
    padding: 4rem 0;
}

#sobre h2 {
    font-size: 3.5rem;
    color: #4a4a8a;
    margin-bottom: 2rem;
}

#sobre-mim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100% - 14rem);
    gap: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

#texto {
    flex: 1;
    font-size: 1.3rem;
    color: #666;
    line-height: 1.6;
    text-align: justify;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


#sobre-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .sobre-mim {
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #text, #sobre-img {
        flex: unset;
        text-align: center;
    }
}
