* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.section {
    padding-left: 7rem;
    padding-right: 7rem;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem 0;
    z-index: 10;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    font-weight: bold;
    font-size: 2.2rem;
    color: #4a4a8a;
    text-decoration: none;
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #4a4a8a;
}

